apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/nginx:1.21.5
          ports:
            - containerPort: 80
          env:
          - name: DB_HOST
            value: 127.0.0.1
  volumes:
    - name: app-secret
      secret:
        secretName: app-secret
